<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.gitee.define.mapper.SecurityAuthorityMapper">
    <resultMap id="BaseResultMap" type="io.gitee.define.entity.SecurityAuthority"
               extends="io.gitee.define.mapper.AuthorityMapper.BaseResultMap">
        <!--@Table ff_authority-->
    </resultMap>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        select
        <include refid="io.gitee.define.mapper.AuthorityMapper.Base_Column_List"/>
        from ff_authority authority
                     left join ff_relate_role_authority relate on relate.authority_id = authority.id
        where relate.role_id = #{id}
          and relate.del = false
          and authority.del = false
    </select>

    <select id="selectByAccountId" resultMap="BaseResultMap">
        select
        <include refid="io.gitee.define.mapper.AuthorityMapper.Base_Column_List"/>
        from ff_authority authority
                     left join ff_relate_account_authority relate on relate.authority_id = authority.id
        where relate.account_id = #{id}
          and relate.del = false
          and authority.del = false
    </select>

    <select id="selectByClientId" resultMap="BaseResultMap">
        select
        <include refid="io.gitee.define.mapper.AuthorityMapper.Base_Column_List"/>
        from ff_authority authority
                     left join ff_relate_client_authority relate on relate.authority_id = authority.id
        where relate.client_id = #{id}
          and relate.del = false
          and authority.del = false
    </select>
</mapper>