[client]                            #针对客户端的设置
default-character-set = utf8            #指定字符集(mariadb默认是拉丁文)
port = 3306                            #指定端口

[mysql]             #针对登录mysql服务器端的设置
port = 3306
default-character-set  = utf8

[mysqld]                  #设置mysql-server相关信息
user = mysql               #指定运行用户为mysql(默认是以mysql用户运行的),经过试验,可以用非mysql之外的用户运行的
default-storage-engine  = InnoDB #指定默认引擎为innodb,(反正跟系统默认指定的没有冲突)

#禁止域名解析(优化)
skip-name-resolve           #禁用DNS查询
skip-host-cache                #禁止缓存主机名

#连接优化
max_connections = 2000         #最大连接数(怎么设置等我有时间琢磨先)
max_allowed_packet = 64M       #设置server接受数据包大小,数据包大于此值,将不会接收

lower_case_table_names  = 0    #区分大小写

[mysqldump]
max_allowed_packet = 32M               #可接收数据包大小


#[mysqld_safe]
open-files-limit = 8192