<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BaseModelMapper">
    <resultMap id="BaseResultMap" type="io.gitee.core.entity.model.BaseModel">
        <id column="id" property="id"/>
        <result column="enable" property="enable"/>
        <result column="del" property="del"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="_version" property="_version"/>
    </resultMap>

    <sql id="SQL_BaseModel">
        <!--@sql select -->
        `${tableName}`.id,
        `${tableName}`.enable,
        `${tableName}`.del,
        `${tableName}`.create_by,
        `${tableName}`.create_time,
        `${tableName}`.update_by,
        `${tableName}`.update_time,
        `${tableName}`.remark,
        `${tableName}`._version
        <!--@sql from `${tableName}`-->
    </sql>

    <select id="selectByBaseModel" resultMap="BaseResultMap" resultType="io.gitee.core.entity.model.BaseModel">
        select
        <include refid="SQL_BaseModel"/>
        from `${tableName}`
        <where>
            <if test="query.id != null">
                and id = #{query.id}
            </if>
            <if test="query.enable != null">
                and `enable` = #{query.enable}
            </if>
            <if test="query.del != null">
                and del = #{query.del}
            </if>
            <if test="query.createBy != null">
                and create_by = #{query.createBy}
            </if>
            <choose>
                <when test="query.createTime != null">
                    and create_time = #{query.createTime}
                </when>
                <otherwise>
                    <choose>
                        <when test="query.createBefore != null and query.createAfter != null">
                            and create_time between #{query.createBefore} and #{query.createAfter}
                        </when>
                        <when test="query.createBefore != null and query.createAfter == null">
                            and create_time &lt; #{query.createBefore}
                        </when>
                        <when test="query.createBefore == null and query.createAfter != null">
                            and create_time &gt; #{query.createAfter}
                        </when>
                    </choose>
                </otherwise>
            </choose>
            <if test="query.updateBy != null">
                and update_by = #{query.updateBy}
            </if>
            <choose>
                <when test="query.updateTime != null">
                    and update_time = #{query.updateTime}
                </when>
                <otherwise>
                    <choose>
                        <when test="query.updateBefore != null and query.updateAfter != null">
                            and update_time between #{query.updateBefore} and #{query.updateAfter}
                        </when>
                        <when test="query.updateBefore != null and query.updateAfter == null">
                            and update_time &lt; #{query.updateBefore}
                        </when>
                        <when test="query.updateBefore == null and query.updateAfter != null">
                            and update_time &gt; #{query.updateAfter}
                        </when>
                    </choose>
                </otherwise>
            </choose>
            <if test="query.remark != null">
                and remark = #{query.remark}
            </if>
        </where>
    </select>

    <select id="selectAllByBaseModel" resultMap="BaseResultMap"
            resultType="io.gitee.core.entity.model.BaseModel">
        select
        <include refid="SQL_BaseModel"/>
        from `${tableName}`
        <where>
            <if test="query.id != null">
                and id = #{query.id}
            </if>
            <if test="query.enable != null">
                and `enable` = #{query.enable}
            </if>
            <if test="query.del != null">
                and del = #{query.del}
            </if>
            <if test="query.createBy != null">
                and create_by = #{query.createBy}
            </if>
            <choose>
                <when test="query.createTime != null">
                    and create_time = #{query.createTime}
                </when>
                <otherwise>
                    <choose>
                        <when test="query.createBefore != null and query.createAfter != null">
                            and create_time between #{query.createBefore} and #{query.createAfter}
                        </when>
                        <when test="query.createBefore != null and query.createAfter == null">
                            and create_time &lt; #{query.createBefore}
                        </when>
                        <when test="query.createBefore == null and query.createAfter != null">
                            and create_time &gt; #{query.createAfter}
                        </when>
                    </choose>
                </otherwise>
            </choose>
            <if test="query.updateBy != null">
                and update_by = #{query.updateBy}
            </if>
            <choose>
                <when test="query.updateTime != null">
                    and update_time = #{query.updateTime}
                </when>
                <otherwise>
                    <choose>
                        <when test="query.updateBefore != null and query.updateAfter != null">
                            and update_time between #{query.updateBefore} and #{query.updateAfter}
                        </when>
                        <when test="query.updateBefore != null and query.updateAfter == null">
                            and update_time &lt; #{query.updateBefore}
                        </when>
                        <when test="query.updateBefore == null and query.updateAfter != null">
                            and update_time &gt; #{query.updateAfter}
                        </when>
                    </choose>
                </otherwise>
            </choose>
            <if test="query.remark != null">
                and remark = #{query.remark}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey">
        delete
        from `${tableName}`
        where `${tableName}`.id = #{primaryKey}
    </delete>
    <update id="updateByPrimaryKeySelective" parameterType="io.gitee.core.entity.model.BaseModel">
        update `${tableName}`
        <set>
            `${tableName}`.id          = `${tableName}`.id,
            `${tableName}`.update_by   = #{form.updateBy},
            `${tableName}`.update_time = now(),
            <if test="form.enable != null">
                `${tableName}`.`enable` = #{form.enable},
            </if>
            <if test="form.del != null">
                `${tableName}`.del = #{form.del},
            </if>
            <if test="form.remark != null and form.remark != ''">
                `${tableName}`.remark = #{form.remark},
            </if>
            <if test="form._version != null">
                `${tableName}`._version = #{form._version},
            </if>
        </set>
        where `${tableName}`.id = #{form.id}
    </update>

    <select id="isExpiresByBaseModel" resultType="java.lang.Boolean">
        select #{query._version} - `${tableName}`._version
        from `${tableName}`
        where `${tableName}`.id = #{query.id}
    </select>
</mapper>